@page "/order/confirmation/{session_id}"
@using PresizelyWeb.Services
@inject PaymentService _paymentService
@inject IShoppingCartRepository _cartRepository


@if (IsProcessing)
{
    <div class="position-absolute w-100 vh-100 d-flex flex-column align-items-center bg-white justify-content-center">
        <img src="/lib/images/loading.gif" alt="loading" />
    </div>
}
else
{
    <div class="text-center">
        <h1 class="pt-4 text-sucess">You are one stop closer to help the world.</h1>
        <p>Your order is confirmed! Please note your order confirmation number for any queries.</p>
        <p>You will receive your tracking number shortly, so you can track your order.</p>
        <p>Order Confirmation Number: <b>@orderHeader.Id</b></p>
        <hr />
        <img src="/lib/images/GreenHands.png" width:"40%"/>
        <hr />
    </div>
}


@code {
    [Parameter]
    public string session_id { get; set; }
    private bool IsProcessing { get; set; } = true;
    private OrderHeader orderHeader { get; set; }

    protected override async Task OnInitializedAsync()
    {
        orderHeader = await _paymentService.CheckPaymentStatusAndUpdateOrder(session_id);
        if(orderHeader.Status==SD.StatusApproved)
        {
            await _cartRepository.ClearCartAsync(orderHeader.UserId);
        }
        IsProcessing = false;
    }

}
