@page "/about"

@using Microsoft.AspNetCore.Components

<div class="container mt-5">
    <h1 class="text-center mb-4">About Us</h1>
    <div class="row">
        <div class="col-md-6">
            <h2>Our Mission</h2>
            <p>
                At PreSIZEly, our mission is to revolutionize fashion by prioritizing sustainability and reducing the environmental impact of online shopping. We believe in creating a world where style meets responsibility.
            </p>
        </div>
        <div class="col-md-6">
            <img src="/lib/images/GreenHands.png" alt="About Us" class="img-fluid rounded shadow-sm">
        </div>
    </div>

    <div class="mt-5">
        <h2>Our Values</h2>
        <ul>
            <li>Sustainability: Every product we offer is carefully selected to ensure minimal environmental impact.</li>
            <li>Transparency: We are committed to being honest about our practices and products.</li>
            <li>Community: We strive to foster a sense of connection between our customers and the environment.</li>
        </ul>
    </div>
 </div>