@page "/contact"
@using Microsoft.AspNetCore.Components

 <div class="mt-5">
        <h2>Contact Us</h2>
        <p>
            Have questions or want to learn more? Reach out to us at 
            <a href="mailto:support@ecofashion.com" class="text-decoration-none">support@presizely.com</a>.
        </p>
    </div>